* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("legal\ image.webp");
  background-size: cover;
  /* background-position: center;
  background-repeat: no-repeat; */
   margin: 0;
  padding: 0;
}

body {
  background-color: rgb(239, 8, 108);
  color: white;
  font-family: Arial, sans-serif;
   padding-top: 11px;
}
.banner img {
  width: 100%;
  height: auto;   /* <-- Image full visible, no cut */
  display: block;
}
.banner {
  .banner {
  width: 100%;
  height: 450px; /* Desktop ke liye perfect size */
  background-image: url("legal\ image.webp");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.left {
  font-size: 1.5rem;
  font-weight: 600;
}

.left span {
  color: rgb(136, 22, 241);
  margin-left: 8px;
  font-weight: 700;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: rgb(156, 156, 241);
}

.rightSection img {
  width: 350px;
  margin: 50px 0;
}
